body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: rgb(242, 242, 242);
    color: #333;
    font-style: normal;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card-i {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}
.card-icon-user {
    transition: 1s;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.card-info-user {
    padding: 16px;
    display: none;
    transition: 1.5s;
}
.card-i:hover .card-info-user{
    display: block;
}
.card-i:hover .card-icon-user{
    /* display: none; */
}
.cv-container-cus {
    /* background-image: linear-gradient(to bottom right, #f3d4e6, #d5dff1, #def3f1); */
    /* background-color: rgb(242, 242, 242); */
    background-color: white;
    padding: 16px 16px 16px 16px;
}
.cv-section1-context {
    margin-bottom: 30px;
    padding: 16px;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
    
}
.cv-section1-context:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cv-title-center {
    text-align: center;
    font-family: sans-serif;
    color: #615f5f;
    margin-bottom: 32px;
}
span.cv-inf-key {
    color: darkcyan;
    padding-right: 8px;
}
span.cv-inf-val {
    color: #596c8a;
}
.cv-img {
    margin: 0px 0 30px 0;
}
.cv-img-des {
    width: 100%; 
    height: 500px;
}
.cv-inf {
    text-align: left;
}
.color-339966 {
    color: #339966;
}

.skill-title {
    color: green;
    margin-bottom: 8px;
    margin-top: 16px;
}
.skills {
    width: 100%;
}
.skill-progress {
    background-color: #ef7e7e;;
    border-radius: 10px;
    transition: 1.5s;
}
.skills .skill-progress-bar{
    height: 16px;
    background-image: linear-gradient(to right, #ef7e7e , #339966,  #ef7e7e);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    transition: 1s;
    background-size: 900px;
    background-repeat: no-repeat;

}
.skills .skill-progress-bar span {
    color: white;
    margin-right: 10px;
    font-size: 12px;
}
.skill-progress:hover .skill-progress-bar {
    background-position: right;
}
.skill-progress:hover {
    background-color: #88bb7f;
}
.p1 {
    width: 80%;
}
.p2 {
    width: 80%;
}
.p3 {
    width: 80%;
}
.p4 {
    width: 50%;
}
.read-more {
    padding: 0px 0px;
    border-radius: 20px;
    color: #e4356c;
    display: block;
    text-decoration: none;
    color: #0070c9;
}
.mt-cus-0 {
    margin-top: 0;
}

.text-first-letter::first-letter {
    font-size: 200%;
    color: #339966;
}
.monospace-i-16 {
    font-size: 16px;
    font-family: monospace,sans-serif;
    font-family: 'Saira', sans-serif;
    color: #827d7d;
    /* font-family: 'Itim', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Dancing Script', cursive; */
    font-family: 'Lobster', cursive;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Roboto Mono', monospace; */
}
.title-bold {
    font-size: 32px;
    line-height: 1.08365;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #111;
}
.list-text {
    padding-left: 40px;
    color: darkred;
    font-style: italic;

}


.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
[class*="col-"] {
    float: left;
    padding: 8px;
  }
  
  @media only screen and (min-width: 576px) {
    /* For desktop: */
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .fl-right {
        display: flex;
        flex-direction: row-reverse;
    }
  }
  @media only screen and (max-width: 576px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .fl-right-xs {
        display: flex;
        flex-direction: row-reverse;
    }
}

/* infon */
.font-f-mono-sans {
    font-family: monospace,sans-serif;
    color: black;
}
/* Color */
.color-cornflowerblue {
    color: cornflowerblue;
}
.color-darkgrey {
    color: darkgrey;
}
.color-green {
    color: green;
}

.card-img {
    width: 100%;
    height: 417px;
    transition: 1s;
    margin: 8px 0px;
}
/* animation */
.card-img:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
