.cv-container-cus {
    background-image: linear-gradient(to bottom right, #f3d4e6, #d5dff1, #def3f1);
    padding: 30px 16px 30px 16px;
}
.cv-section1-context {
    margin-bottom: 30px;
}
.cv-title-center {
    text-align: center;
    font-family: sans-serif;
    color: #615f5f;
}
.cv-img {
    margin: 0px 0 30px 0;
}
.cv-img-des {
    width: 100%; 
    height: 500px;
    border-radius: 10px;
}
.cv-inf {
    text-align: center;
}
.color-339966 {
    color: #339966;
}